<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>{{ summoner.name }}의 소환사 정보</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css">
  <style>
    .custom-gradient {
      background-image: linear-gradient(to right, #0a0a0a, #2c3e50);
    }
    .custom-gold {
      color: #ffd700;
    }
  </style>
</head>
<body class="custom-gradient min-h-screen flex flex-col justify-between">
<!-- 네비게이션 바 -->
<nav class="fixed top-0 left-0 right-0 z-10 border-b border-gray-700 py-4">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- 로고 및 제목 중앙 정렬 -->
      <div class="flex-shrink-0 flex items-center">
        <a href="/lolp.gg" class="text-white font-bold text-2xl hover:text-custom-gold transition duration-300 ease-in-out">LOLP.GG</a>
      </div>
      <!-- 중앙 링크들 -->
      <div class="hidden sm:block">
        <div class="flex space-x-4">
<!--          <a href="#" class="text-white hover:text-custom-gold px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out">홈</a>-->
          <a href="#" class="text-white hover:text-custom-gold px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out">챔피언 분석</a>
          <a href="/lolp.gg/search/ranking" class="text-white hover:text-custom-gold px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out">랭킹</a>
        </div>
      </div>
      <!-- 인증 링크 -->
      <div class="hidden sm:block">
        <div class="flex space-x-4" id="auth-links">
          <!-- 로그인, 로그아웃, 회원가입 버튼은 스크립트에서 처리 -->
        </div>
      </div>
    </div>
  </div>
</nav>



<script>

  function updateAuthLinks() {
    const authLinks = document.getElementById('auth-links');
    const token = localStorage.getItem('access_token'); // JWT 토큰 존재 여부 확인

    console.log('로드 된 토큰 :', token);

    if (token) {
      authLinks.innerHTML = '<button id="logout-button" class="text-white px-3 py-2 rounded-md text-sm font-medium">로그아웃</button>';
    } else {
      authLinks.innerHTML = '<a href="/lolp.gg/user/login" class="text-white px-3 py-2 rounded-md text-sm font-medium">로그인</a>';
      authLinks.innerHTML += '<a href="/lolp.gg/user/signup" class="text-white px-3 py-2 rounded-md text-sm font-medium">회원가입</a>';
    }


    const logoutButton = document.getElementById('logout-button');
    if (logoutButton) {
      logoutButton.addEventListener('click', function(event) {
        event.preventDefault();
        localStorage.removeItem('access_token'); // JWT 토큰 삭제
        fetch('/lolp.gg/user/logout', { method: 'POST' })
          .then(response => {
            if (response.ok) {
              window.location.href = '/lolp.gg'; // 로그아웃 성공 시 로그인 페이지로 리디렉션
            }
          })
          .catch(error => console.error('로그아웃 에러 :', error));
      });
    }
  }

  document.addEventListener('DOMContentLoaded', updateAuthLinks);
</script>
</body>
</html>
